spring:
  datasource:
    url: jdbc:
    username:
    password:
    driver-class-name: com.mysql.jdbc.Driver

  redis:
    host:
    password:
    port:
    jedis:
      pool:
        max-wait:
        max-active: 8
        min-idle: 0
    timeout: 500ms
    database: 2
  jpa:
    show-sql: true


jwzx.chengji: http://jwc.cqupt.edu.cn/showStuQmcj.php
jwzx.emptyroom: http://jwzx.cqupt.edu.cn/jssq/jssqEmptyRoom.php?
jwzx.newslist: http://jwzx.cqupt.edu.cn/data/json_files.php?
jwzx.newscontent: http://jwzx.cqupt.edu.cn/fileShowContent.php?
jwzx.verify: http://hongyan.cqupt.edu.cn/api/verify


pagehelper:
  helper-dialect: mysql
  reasonable: true
  support-methods-arguments: true
  params: count=countsql
  returnPageInfo: check
